body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

.navbar {
    width: 100%;
    padding: 17px 0px;
}

.content ul li {
    display: inline-block;
    margin-left: 21px;
}

.logo {
    width: 30%;
    float: left;
    margin-top: 11px;
    text-align: center;

}

.content {
    width: 70%;
    float: left;

}

.logo h1 {
    display: inline;
}

.content li {

    list-style: none;
}

.active a {
    color: #fe2d6b;
}

.clear {
    clear: both;
}

a {
    text-decoration: none;
    color: #222;

}

.logo2 {
    color: #fe2d6b;
}

.service {
    color: black;
}

.btn {
    background-color: #fe2d6b;
    color: white;
    padding: 12px;
}

.menu {
    position: relative;
    display: block;
}

.dropdown {
    position: absolute;
    display: none;
    margin-left: -62px;
    margin-top: 12px;

}

.dropdown li {
    margin-top: 12px;
    white-space: nowrap;
}

.menu:hover .dropdown {
    display: block;
}

/* SECTION 2 */
.section2 {
    width: 80%;
    margin: auto;
    margin-top: 112px;
}

.content2 {
    width: 50%;
    float: left;
}

.content2 h1 {
    font-size: 50px;
    font-weight: 900;
    color: #222;
    margin-bottom: 12px;
}

.img {
    width: 50%;
    float: left;
}

.img img {
    width: 490px;
}

.button {
    margin-top: 50px;

}

.btn2 {
    padding: 12px 26px;
    color: white;
    background-color: #fe2d6b;
    border-radius: 10px;
    font-weight: 500;
}

/* SECTION 3 */
.section3 {
    width: 100%;
    margin: auto;
    margin-top: 130px;
   
}

.box1 {

    width: 33.3%;


    float: left;
}

.box2 {

    width: 33.3%;


    float: left;
}

.box3 {

    width: 33.3%;


    float: left;
}

.box4 {

    width: 33.3%;


    float: left;
}

.box5 {

    width: 33.3%;


    float: left;
}

.box6 {

    width: 33.3%;


    float: left;
}

.box7 {

    width: 33.3%;


    float: left;
}

.box8 {

    width: 33.3%;


    float: left;
}

.box9 {

    width: 33.3%;


    float: left;
}

.box10 {

    width: 33.3%;


    float: left;
}

.box11 {

    width: 33.3%;


    float: left;
}

.box12 {

    width: 33.3%;

    float: left;
}

.box13 {

    width: 33.3%;

    float: left;
}

.box14 {

    width: 33.3%;

    float: left;
}

.box15 {

    width: 33.3%;

    float: left;
}

.border {
    padding: 12px;
    margin: 12px;
    text-align: center;

}

p {
    margin-bottom: 40px;
}

.border img {
    width: 300px;
    height: 200px;
    margin-top: 50px;


}

.border:hover {
    border-radius: 5px;
    box-shadow: 3px 7px 17px black;
}

/* FOOTER */

footer {
    margin-top: 112px;
    width: 100%;
}

.footerbox1 {
    width: 33.3%;
    float: left;
    background-color: #222;

}

.footerbox2 {
    width: 30.3%;
    float: left;
    margin-top: 50px;

}

.footerbox3 {
    width: 35.3%;
    float: left;
    margin-top: 50px;

}

.footerborders {
    padding: 12px;
    margin: 51px;
    font-weight: 400;
}

.footerlogo {
    font-size: 17px;
    color: #fe2d6b;

}

.services {
    color: white;
}

.footerp {
    color: white;
    margin-bottom: 12px;
}

.heading {
    font-weight: 600;
    font-size: larger;
    text-align: center;
    width: 40%;
}

.icon {
    color: white;

}

i {
    padding: 10px;
    font-size: small;
    font-weight: bolder;
}

.link {
    width: 40%;
    float: left;
    line-height: 2;
}

.link li {
    list-style: none;
    display: grid;
}

.link a:hover {
    background-color: #fe2d6b;
    width: 80%;
    height: 30px;
    color: white;
    text-align: center;
}

.secondlink a:hover {
    background-color: #fe2d6b;
    width: 40%;
    height: 30px;
    color: white;
    text-align: center;
}

.secondlink {
    width: 60%;
    float: left;
    line-height: 2;

}

.secondlink li {
    list-style: none;
    display: grid;
}

.content6 li {
    list-style: none;
}

.links i {
    font-size: 18px;
    color: black;
}

.links a {
    color: blue;
}

@media screen and (min-width:0px) and (max-width:576px) {
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .logo {
        width: 100%;
        text-align: center;
    }

    .content {
        width: 100%;
        text-align: center;
    }

   
    .content ul li {
        text-align: center;
        margin-top: 20px;

    }

    .btn {
        padding: 9px;
    }


    /* SECTION 2 */

    .section2 {
        width: 90%;
        margin: auto;
        margin-top: 80px;
    }

    .content2 {
        width: 100%;
        float: left;
    }

    .content2 h1 {
        font-size: 50px;
        font-weight: 900;
        color: #222;
        margin-bottom: 12px;

    }

    .content2 p {
        font-size: 17px;
        line-height: 1.5rem;

    }

    .img {
        width: 100%;
        text-align: center;
    }

    .button {
        display: none;

    }

    /* SECTION 3 */

    .section3 {
        width: 90%;
        margin: auto;
       

    }

    .box1 {

        width: 100%;

    }

    .box2 {

        width: 100%;

    }

    .box3 {

        width: 100%;

    }

    .box4 {

        width: 100%;

    }

    .box5 {

        width: 100%;

    }

    .box6 {

        width: 100%;

    }

    .box7 {

        width: 100%;

    }

    .box8 {

        width: 100%;

    }

    .box9 {

        width: 100%;

    }

    .box10 {

        width: 100%;

    }

    .box11 {

        width: 100%;

    }

    .box12 {

        width: 100%;

    }

    .box13 {

        width: 100%;

    }

    .box14 {

        width: 100%;

    }

    .box15 {

        width: 100%;

    }

    .border {
        padding: 0px;

    }


/* FOOTER */

.footerbox1 {
    width: 100%;

}

.footerbox2 {
    width: 100%;
}

.footerbox3 {
    width: 100%;
}
}
@media screen and (min-width:577px) and (max-width:786px) {
html,body{
    width: 100%;
   height: 100%;
   padding: 0;
   margin: 0;
 
    overflow-x: hidden;
  


}
    .navbar {
        width: 100%;
        margin: auto;
    }
    .logo2{
        width: 100%;
        text-align: center;
    }
    .content ul {
        width: 100%;
        padding-left: 0px;
    }
    .content ul li {
       
        display: inline-block;
      
        margin-left: 4px;
    }
    
    .logo {
        width: 100%;
        float: left;
        margin-top: 11px;
        text-align: center;
    
    }
    
    .content {
        width: 100%;
        padding-left: 80px;

    padding-top: 30px;
    
    }
    
    .logo h1 {
        display: inline;
    }
    
    .content li {
    
        list-style: none;
    }
    
    .active a {
        color: #fe2d6b;
    }
    
    .clear {
        clear: both;
    }
    
    a {
        text-decoration: none;
        color: #222;
    
    }
    
    .logo2 {
        color: #fe2d6b;
    }
    
    .service {
        color: black;
    }
    
    .btn {
        background-color: #fe2d6b;
        color: white;
        padding: 7px;
    }
    
    .menu {
        position: relative;
        display: block;
    }
    
    .dropdown {
        position: absolute;
        display: none;
        margin-top: 12px;
    
    }
    
    .dropdown li {
        margin-top: 12px;
        white-space: nowrap;
    }
    
    .menu:hover .dropdown {
        display: block;
    }
    

/* SECTION 2 */
    .section2 {
        width: 80%;
        margin: auto;
        margin-top: 80px;
    }

    .content2 {
        width: 60%;
        float: left;
    }

    .content2 h1 {
        font-size: 50px;
        font-weight: 900;
        color: #222;
        margin-bottom: 12px;

    }

    .content2 p {
        font-size: 17px;
        line-height: 1.5rem;

    }

    .img {
        width: 40%;
        float: left;
        text-align: center;
    }
    .img img{
        width: 350px;
        margin-top: 60px;
    }

   
    /* SECTION 3 */

    .section3 {
        width: 100%;
margin: auto;
margin-top: 70px;
    }

    .box1 {

        width: 50%;
        float: left;
    }

    .box2 {

        width: 50%;
        float: left;
    }

    .box3 {

        width: 50%;
        float: left;
    }

    .box4 {

        width: 50%;
        float: left;
    }

    .box5 {

        width: 50%;
        float: left;
    }

    .box6 {

        width: 50%;
        float: left;
    }

    .box7 {

        width: 50%;
        float: left;
    }

    .box8 {

        width: 50%;
        float: left;
    }

    .box9 {

        width: 50%;
        float: left;
    }

    .box10 {

        width: 50%;
        float: left;
    }

    .box11 {

        width: 50%;
        float: left;
    }

    .box12 {

        width: 50%;
        float: left;
    }

    .box13 {

        width: 50%;
        float: left;
    }

    .box14 {

        width: 50%;
        float: left;
    }

    .box15 {

        width: 50%;
        float: none;

    }
    .border img{
        width: 300px;
        height: 200px;
    }
   

   /* FOOTER */
    
   footer {
    margin-top: 112px;

}
.footerborders {
    padding: 12px;
    margin: 26px;
    font-weight: 400;
}

.footerbox1 {
    width: 30.3%;
    

}

.footerbox2 {
    width: 33.3%;
  

}

.footerbox3 {
    width: 36.3%;
   
   


}
.heading{
    width: 78%;
}
.link{
    width: 55%;
}
.secondlink {
    width: 44%;
    float: left;
    line-height: 2;

}

.footerborders {
    font-weight: 400;
}

}

@media screen and (min-width:1300px){
    .body{
        width: 80%;
        margin: auto;
    }
}


 @media screen and (min-width:1201px) and (max-width:1440px)
{
    
 
    
    footer {
        margin-top: 112px;
    }
    
    .footerbox1 {
        width: 30.3%;
        float: left;
        background-color: #222;
    
    }
    
    .footerbox2 {
        width: 33.3%;
        float: left;
        margin-top: 50px;
    
    }
    
    .footerbox3 {
        width: 36.3%;
        float: left;
        margin-top: 50px;
    
    }
    
    .footerborders {
        padding: 12px;
        margin: 51px;
        font-weight: 400;
    }
    
    .footerlogo {
        font-size: 17px;
        color: #fe2d6b;
    
    }
    
    .services {
        color: white;
    }
    
    .footerp {
        color: white;
        margin-bottom: 12px;
    }
    
    .heading {
        font-weight: 600;
        font-size: larger;
        text-align: center;
        width: 40%;
    }
    
    .icon {
        color: white;
    
    }
    
    i {
        padding: 10px;
        font-size: small;
        font-weight: bolder;
    }
    
    .link {
        width: 55%;
        float: left;
        line-height: 2;
    }
    
    .link li {
        list-style: none;
        display: grid;
    }
    
    .link a:hover {
        background-color: #fe2d6b;
        width: 80%;
        height: 30px;
        color: white;
        text-align: center;
    }
    
    .secondlink a:hover {
        background-color: #fe2d6b;
        width: 40%;
        height: 30px;
        color: white;
        text-align: center;
    }
    
    .secondlink {
        width: 44%;
        float: left;
        line-height: 2;
    
    }
} 
@media screen and (min-width: 1350px) {

    .body {
     width: 1170px;
    }
  
  }